<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.godlife.app.dao.SInputDao">
 	
 <select id="selectAll">
 		SELECT c_seq,
			   s_uemail,
			   s_title,
			   s_memo,	
			   s_sdate,
			   s_edate,
			   IFNULL(c_achieve,(TIMESTAMPDIFF(DAY , c_sdate, c_edate)+1))AS c_achieve,
			   s_count,
			   s_share,
			   s_useyn,
		       u_nickname, 
		       ROUND((c_count / (TIMESTAMPDIFF(DAY , c_sdate, c_edate)+1))*5) AS star
		  FROM tbl_schedule
		  LEFT JOIN tbl_user 
		    ON s_uemail = u_email
		 WHERE s_useyn = 'Y'
		 AND s_uemail = #{u_email}
 </select>	
 	
 <insert id="sinsert">
 
 insert into tbl_schedule
 (s_uemail ,s_title, s_write, s_sdate, s_edate, 
 s_achieve, s_count, s_memo, s_share, s_useyn
)values 
(#{s_uemail} ,#{s_title}, #{s_write}, #{s_sdate}, #{s_edate},
#{s_achieve}, #{s_count}, #{s_memo}, 'Y', 'Y')
 
 </insert>
 
 	<update id="supdate">

		UPDATE tbl_schedule
		SET 
		s_uemail = #{s_uemail} ,
		s_title = #{s_title}, 
		s_write = #{s_write}, 
		s_sdate = #{s_sdate}, 
		s_edate = #{s_edate}, 
 		s_achieve = #{s_achieve}, 
 		s_count = #{s_count},
 		s_memo = #{s_memo}, 
 		s_share = #{s_share},
 		s_useyn = #{s_useyn}
		WHERE s_seq = #{s_seq}

	</update>
	
	<select id="selectSearchCount">
	
	SELECT COUNT(*) FROM tbl_schedule
	WHERE
		<foreach collection="list" item="S" separator=" OR ">
			s_title LIKE CONCAT ('%', #{S}, '%')
		</foreach>
		
	</select>
	
	<select id="selectSearchPage">

	SELECT * FROM tbl_schedule
	WHERE
		<foreach collection="list" item="S" separator=" OR ">
			s_title LIKE CONCAT ('%', #{S}, '%')
		</foreach>
		LIMIT #{limit} OFFSET #{offset}
	</select>
 	
 </mapper> 