<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- dataSource -->
	<bean id="ds" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/godlifeDB"/>
		<property name="username" value="godlife" />
		<property name="password" value="qwer1234"/>
	</bean>
	
	<!-- mybatis 설정 -->
	<!-- SqlsesstionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- dataSource 연결 -->
		<property name="dataSource" ref="ds"/>
		<property name="typeAliasesPackage" value="com.godlife.app.models"/>
		<!-- mapper.xml 을 사용하여 SQL이 저장될 폴더와 규칙 정하기 -->
		<property name="mapperLocations" value="/WEB-INF/spring/mapper/*-mapper.xml" />
	</bean>
	<!-- SqlSessionTemplate -->	
		
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"></constructor-arg>
	</bean>
	
	<mybatis-spring:scan base-package="com.godlife.app.dao"/>
		
	<!-- Transaction 활성화 -->
	<tx:annotation-driven/>
	
	<!-- TransactionManager Bean 설정 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds"></property>
	</bean>

</beans>
